<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Substance" version="0.0.1-beta" targetFramework="net471" />
  <package id="Substance.Collections" version="0.0.1-beta" targetFramework="net471" />
  <package id="Substance.Collections.Generic" version="0.0.1-beta" targetFramework="net471" />
  <package id="Substance.Collections.Immutable" version="0.0.1-beta" targetFramework="net471" />
  <package id="Wooga.Lambda" version="0.7.0" targetFramework="net471" />
</packages>